body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

nav {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.buttons button {
  background-color: #ff9900;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
}

main {
  background-image: url('../images/wood_texture.jpg');
  background-size: cover;
  background-color: #003366;
  padding: 20px;
}

.main-section {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  
}

.service-info h2 {
  margin-top: 0;
}

.buttons-section button {
  background-color: #003366;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  color: white;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  border-radius: 25px;
}

a {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}